$warning: hsl(48, 100%, 67%);
$dark: #121212;
$navBorder: #343434;

body{

  header {
    h1.title.is-1{
      font-weight: 800;
    }

    nav.navbar {

      div#navMenu{

        border-top: solid 1px #000;
        a.navbar-item {

          border-right: solid 1px #000;

          &:last-child {
            border-right: none;
          }

          &:hover,
          &.selected {
            color: #000;
            background-color: $warning;
            border-bottom: solid 5px #000;
          }
        }
      }
    }
  }
}

body {

  main {

    section.section {

      div.container {

        div.columns{

          a.articleLink {

            p.is-3-mobile {
              color: #4a4a4a;
            }
            &:hover {

              h2,
              h3 {
                text-decoration: underline;
                color: #2c60a4;
              }

            }
          }
        }
      }
    }
  }
}

// STYLES FOR touch
@media only screen and (max-width: 1087px){

  body{

    header {

      div.container {

        h1.title.is-1 {
          padding: 25px 0 0 25px;
        }
      }

      nav.navbar {

        div#navMenu.navbar-menu.is-active{

          background-color: $dark;
          a.navbar-item {

            border-right: none;
            border-bottom: $navBorder;
            border-top: $navBorder;
            color: #fff;
            &:hover {
              background-color: #5a5a5a;
            }
            &.selected {
              background-color: $dark;
              border-left: solid 5px $warning;
            }
          }
        }
      }
    }
  }
}
