body {
  height: 100vh;
  font-family: sans-serif;
}

header {
  h1 {
    text-align: center;
    font-size: 12pt;
  }
  .scoreboard {
    display:flex;
  }

  h2.left {
    margin: 0 20px;
    max-width: 50%;
    flex-grow: 1;
  }
  h2.right {
    text-align: right;
    margin: 0 20px;
    max-width: 50%;
    flex-grow: 1;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.container {
  // background-color: yellow;
  max-width: 900px;
  max-height: 900px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

div.mole {
  width: 32%;
  height: 32%;
  // background-color: blue;
  pointer-events: none;


  &.show {
    // background-color: red;
    background-image: url(https://media.giphy.com/media/uSo3wQ010f8uQ/giphy.gif);
    border-radius: 100%;
    pointer-events: auto;

  }
}
