$background-color: white;
body{
  background-color: $background-color

}

a{
  list-style: none;
  font-style: proxima-nova,sans-serif;
}
p{
  text-align: center;
  text-decoration-color: gray;
  display: block;
  margin: 20px;
  font-style: proxima-nova,sans-serif;
}


h2{
  text-align: center;
  text-decoration-color: darkgray;
  display: block;
  margin-left: 10px;
  font-style: proxima-nova,sans-serif;

}
h3{
  text-align: center;
  text-decoration-color: darkgray;
  font-style: proxima-nova,sans-serif;
}
aside{
  text-align: center;
  text-decoration-color: darkgray;
  font-style: proxima-nova,sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  width:100%;
  max-width: 1100px;
  margin: auto;

  nav{
    width:100%;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
    margin-left: auto;

  }

  img{
    margin: 25px;
  }
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  max-width: 1100px;
  margin: auto;

}

.leftside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 75%;
  margin: auto;
padding-right: 10px;
}

.rightside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  width: 25%;
  padding-left: 10px;

}

.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

}

.flex2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

}

.Categories{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-evenly;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallart{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.smalltext{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.Subscribe{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ff3333;
}
input{
  float: center;
  display: block;
  color: black;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  width: 95%;
  height: 20px;
  margin: 5px;
  align-self: center;
}

footer{
  background-color: lightgray;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
  }
  img{
    margin: 25px;
  }
}
