body {
  margin: 0;
  padding: 0;
}

.map {
  height: 95vh;
  top: 0;
  bottom: 0;
  width: 100%;
}

.flag-marker {
  width: 60px;
  height: 40px;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#info {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}