@import 'mixins';
@import 'vars';

* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: 'Karla', sans-serif;
}

main {
  // background-color: yellow;
  display:flex;
  padding:10px 40px;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  display:flex;
  a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    color: $header_nav_link_colour;
    text-decoration: none;
  }

}
header {
  padding: 0;
  max-width: 1065px;
  margin:20px auto;
  img {
    margin:20px 0;
  }
  nav {
    border: 1px solid $page_grey;
    border-left: 0px;
    border-right: 0px;
    a{
      font-size: 20px;
      padding: 10px;
      &:last-child{
        flex-grow: 1;
        text-align: right;
        color: $page_red;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
section.section_left {
width:665px;
// max-width: 665px;
  nav.next {
    display: flex;
    justify-content:flex-end;
    padding-right: 40px;
    a.button {
      background-color: white;
      border:1px solid $page_grey;
      // border-radius: 5px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      margin: 10px 0;
      padding: 10px 20px;
      color: black;
      &:hover {
        background-color: $page_grey;
      }
    }
  }

  article {
    width:625px;
    border-bottom: 1px solid $page_grey;
    padding: 20px 0px 20px 0;
    overflow: auto;
    &:hover{
      background-color: #eee;
    }
    a {
      text-decoration: none;
      color: black;
    }
    h2 {
      text-transform: uppercase;
      padding: 0 20px;
    }
    aside{
      color:$page_grey;
      text-transform: uppercase;
      padding: 0 20px;

    }
    p{
      padding: 0 20px;

    }

    img {
      float:left;
      margin-right: 20px;
      height: auto;
    }

  }
  article.featured {
    padding: 20px 0px 20px 0;
    &:first-child{
      padding: 0 0px 20px 0;
      margin: 20px 0 0 0;
    }

    img {
      margin:0 0 20px 0;
    }

  }
}

footer {
  min-height: 200px;
  height: auto;
  padding:20px 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: $footer_grey;
  nav, address {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  img {
    height:30px;
  }
}

section.section_right {
  width:400px;
  padding: 20px 0;
  div.search {
    form {
      border: 1px solid $page_grey;
      padding:4px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    input {
      border: 0px solid black;
      flex-grow: 1;
      font-size: 20px;

    }
  }
  div.subscribe{
    padding: 20px;
    background-color: $page_red;
    color:white;

    form {
      border: 0px solid $page_grey;
      padding:4px;
      margin-bottom: 20px;

      div{
        border-bottom: 1px solid white;
         display: flex;
      }
      input {
        background-color: $page_red;
        flex-grow: 1;
        font-size: 20px;
        border-width: 0;
        color:white;
        padding: 10px 0;
      }
      button {
        padding: 0;
        background-color: $page_red;
        color:white;
        text-transform: uppercase;
        font-size: 20px;
        border-width: 0px;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
    }
  }
  div.categories {
    h2 {
      text-transform: uppercase;
      padding: 0;
      margin: 20px 0 0 0;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      a {
        border:1px solid $page_grey;
        padding: 10px;
        margin: 4px;
        &:hover{
          background-color: $page_grey;
        }
      }
    }
  }
}

@media screen and (max-width:623px){
  section.section_left {
    width:100%;
  }
  nav {
    flex-direction: column;
  }
  section.section_right{
    width:100%;
  }
  main {
    padding:0;
  }
  section.section_left article{
    width: 100%;
    img {
      width:100%;
      height:auto;
    }
  }
}
