* {
  box-sizing: border-box;
}

body {

}

.score {
  border: 2px solid black;
  width: 100px;
  height: 50px;
}

.countdown {
  border: 2px solid black;
  width: 100px;
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

.activeMole {
  /* background-color: red; */
  background-image: url("../images/mole.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.gameboard {
  width: 600px;
  display: none;
  flex-wrap: wrap;
}

.gameboard > div {
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
}

.endGame {
  display: none;
  border: 2px solid black
}
