h1,h2{
  color: red;
  text-align: center;
  margin: 40px;
  font-style: oblique;
  font-size: 80px;
  font-weight: bold;
}

body{
  background-color: black;
  margin: 0 200px;
  text-align: center;
}


 .top,.middle,.third,.last {
  background-color: black;
  text-align: center;
}

.btn1 {
  background-color: transparent;
  color:blue;
  width: 15%;
  padding: 10px;
  height: 80px;
  color: red;
  font-weight: bold;
}

.btn2{
  background-color: transparent;
  color:blue;
  width: 15%;
  padding: 10px;
  height: 80px;
  color: blue;
  font-weight: bold;
}
.btn3{
  background-color: transparent;
  color:blue;
  width: 15%;
  padding: 10px;
  height: 80px;
  color: yellow;
  font-weight: bold;
}
.btn4{
  background-color: transparent;
  color:blue;
  width: 15%;
  padding: 10px;
  height: 80px;
  color: purple;
  font-weight: bold;
}
