body{
  background-color: black;
font-family: 'Muli', sans-serif;
}

header{
  display: flex;
  justify-content: center;
}

img{
  height: 300px;
  width: auto;
}

.hidden{
  display: none;
}

.show{
  display: auto;
}

h1{
  display: none;
}

.container{
  width: 500px;
  margin: auto
}

.row{
  display: flex;

}
.column{
  width: 125px;
  text-align: center;
  height: 125px;
  line-height: 125px;
  vertical-align: middle;
  background-color: black;
  color: white;
  margin: 2px;
  opacity: 0.5
}

.first>.column{
  color: red;
  border: 2px solid red;
}

.second>.column{
  color: green;
  border: 2px solid green;
}

.third>.column{
  color: orange;
  border: 2px solid orange;
}

.fourth>.column{
  color: grey;
  border: 2px solid grey;
}

.column:hover{
  opacity: 1;
}

footer{
  height:100px;
}
