/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/
*{
 background-color: #fafafa;
 font-family:   font-family: 'Karla', sans-serif;
}
.wrapper{
    width: 80%;
    margin: auto;
}

section{
  overflow: auto;
}
body, input {
  font-family: 'Karla', sans-serif;
}

form{
  width: 70%;
  margin:auto;
}
button{
  width: 100%;
  background-color: #3897f0;
  padding: 10px;
  color: white;
  margin: 3.5px  0px;
  font-weight:bold;
  font-size: 15px;

}
#right{
  text-align: center;
  background-color: white;

}
input{
  width: 93%;
  padding:5px;
  font-size: 15px;

  margin: 3.5px  0px;

}


#left img{
  float:left;
  background-color: white;

}
section section{
  width: 35%;
  float:left;
  overflow: auto;
}
footer{
    overflow: auto;
}
nav ul li{
  float: left;
  list-style-type: none;
  margin-right: 15px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight:bold;
}

footer p{
  float: right;
  margin:0;
}

.login-access{
  text-align: center;
  background-color: white;
}

.app{
  text-align: center;
}
