body{
  background-color: black;
}
.container{
  width: 32%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.buttonBox{
  width: auto;
  height:450px;
  display: flex;
  flex-wrap: wrap;

}
.fourBtn{
  width:100%;
  flex-wrap: wrap;
  display: flex;

}

.fourBtn:nth-child(even) div button{
    color: blue;
}
.fourBtn:nth-child(odd) div button{
    color: red;
}

button{
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: black;
  color: white;
  font-size:  25px;
  flex: wrap;

}
#logo{
  width: 350px;
  height: 200px;
  flex-wrap: wrap;
  margin: auto;

}
#random{
  width:100%;
}
.buttonBox{

}
