.gameboard, .gamestart{
  display: flex;
  flex-wrap: wrap;
}

.moleholder{
  height: 200px;
  width: 30%;
  margin-left:  10px;
  margin-bottom:  10px;
  background-color: red;
}

 .active{
  background-image: url("../image/mole.jpg");
  background-repeat: no-repeat;
  background-size : contain;
  background-position: center;
}

 #countDisplay{
  display: inline-block;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.gameDisplay {
  display: flex;
  justify-content: space-around;
}

.gameboard{
  display: flex;
  background-color: blue;

}
