.moleholder{
  height: 200px;
  width: 30%;
  margin-left:  10px;
  margin-bottom:  10px
}

.active{
  background-image: url("../image/mole.jpg");
  background-repeat: no-repeat;
  background-size : contain;
  background-position: center;
}


.wrapper{
  display: flex;
  flex-wrap: wrap;
}
