.container {
  margin: auto;
  width: 500px;
}

.Buttons {
  display: flex;
  justify-content: center;
}
.Winner, .Player1, .Player2 {
  width: 300px;
  height: 60px;
  margin: auto;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 50px 0 80px 0;
}
.Reset {
  display: flex;
  justify-content: center;
}
button {
  width: 75px;
  height: 75px;
  margin: 10px 10px 30px 10px;
}
