/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/
* {
  margin:0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  color: #999;
}
body, input {
  font-family: 'Karla', sans-serif;
}
main {
  overflow: auto;
  max-width: 1178px;
  margin:auto;
  padding:30px 0;
}

button {
  background-color: #3897f0;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
  width: 85%;
}

.bold {
  font-weight: 800;
}
.bold.account {
  color: black;
}
main section {
  float:left;
  width:50%;
  padding: 10px 0px;
}
main section > img {
  position:absolute;
  right:50%;
  top:80px;

}

main section div {
  max-width: 350px;
}

main section div.no_box {
  background-color: #fafafa;
  border-width:0px;
  overflow: auto;
}
main section div.center {
  margin:0;
  padding:0;
  overflow: auto;
}

main section div.center span{
  float:left;
  width:50%;
  margin:0;
}
main section div.center span img {
  float:left;
  padding:8px;
  margin:0;
}
main section div.center span:first-child img{
  float:right;
}
main section div h1 {
  display:none;
}
main section div h2 {
  margin:0;
  padding:8px;
  font-size: 18px;
  width:80%;
  margin: auto;
}
main section h3 {
  margin:0;
}



main section > * {
  display: block;
  margin: 10px auto;
  text-align: center;
}

main section div {
  background-color: white;
  border: 1px solid #e6e6e6;
  padding: 20px;
}
main section form {
  padding:8px;
}

main section form input {
  width: 85%;
  font-size: 18px;
  margin:4px auto;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

main section form button  {
  width: 85%;
  margin:4px auto;

}
main section form p {
  border:0px solid black;
  width: 85%;
  margin:4px auto;
}


footer {
  overflow: auto;
  max-width: 1178px;
  margin: auto;
  padding: 40px;
  font-size: 12px;
}
footer nav {
  float: left;
  color:#003569;
}

footer nav a {
  text-transform: uppercase;
  margin:0 8px;
}

footer div {
  float:right;
}


@media screen and (max-width: 992px) {
  main {
    padding: 0;
  }
  main section:first-child{
    display:none;
  }
  main section {
    width:100%;
    padding-top:0;
  }
  button {
    width: calc(100% - 16px);
  }

  main section form input {
    width: 100%;
  }
  main section form button {
    width: 100%;
  }
  main section form p {
    width: 100%;
  }
  main section div {
    padding:4px;
  }
  main section img {
    margin-top:15px;
  }
  footer{
    text-align: center;
    padding:4px;
  }
  footer div {
    float:none;
  }
  footer nav {
    float:none;
  }
}
