
$black:#111;
$white:#FDFDFD;
$grey:#999;
$shadow: $black;
$blue:#1A5A92;
$orange: orange;
$green: green;
$red: red;

$bakerloo: #B36305;
$central: #E32017;
$circle: #FFD300;
$district: #00782A;
$hammersmith-city: #F3A9BB;
$jubilee: #A0A5A9;
$metropolitan: #9B0056;
$northern: #000000;
$piccadilly: #003688;
$victoria: #0098D4;
$waterloo-city: #95CDBA;
$overground: #EE7C0E;
$dlr: #00A4A7;
$tram: #84B817;

$h-padding:20px;
