$brand: #D87146;
$brand2: #FFFEFA;

$fest: blue;
$date: #ff00ff;
$theatre: purple;
$comedy: red;
$exhib: white;
$arts: white;
$edu: yellow;
$barpub: orange;
$club: orange;
$lgb: violet;
$conf: grey;
$health: cornflowerblue;
$live: cyan;
$food: green;

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #D87146
}

.mapboxgl-popup {
  max-width: 170px;
  font: 9pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
  & h4 {
    margin: 5px 2px 2px 2px;
    color: orange;
  }
  & p {
    margin: 2px;
  }
  & .event-image {
    display: flex;
    justify-content: center;
  }
}

.loader:empty {
    background-image: url("https://user-images.githubusercontent.com/44749113/51740891-3ac55800-208d-11e9-8bf8-02d4a5cf31e7.png");
    background-size: contain;
    position: absolute;
    top: calc(50% - 15em);
    left: calc(50% - 10em);
    width: 20em;
    height: 20em;
    border: 1.5em solid #FB332E;
    border-left: 1.5em solid #FFFEFA;
    border-radius: 80%;
    border-right: 1.5em solid #FFFEFA;
    animation: load8 2s infinite linear;
    // transition: width 2s;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.map {
  height: 95vh;
  @media screen and (max-width: 650px) {
    height:90vh;
  }
}

.key {
  height: 5vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  background-color: #343332;
  @media screen and (max-width: 650px) {
    height:10vh;
    flex-wrap: wrap;
  }
  & .subkey {
    border-radius: 10px;
    margin: 2px;
    flex-grow: 1;
    text-align: center;
    padding: 1vh;
    @media screen and (max-width: 650px) {
      height:2vh;
      flex-wrap: wrap;
    }
  }
  & .key-fest {
    background-color: $fest;
    color: white;
  }
  & .key-dates {
    background-color: $date;
    color: white;
  }
  & .key-theatre {
    background-color: $theatre;
    color: white;
  }
  & .key-comedy {
    background-color: $comedy;
    color: white;
  }
  & .key-exhib {
    background-color: $exhib;
  }
  & .key-edu {
    background-color: $edu;
  }
  & .key-barpub {
    background-color: $barpub;
    color: white;
  }
  & .key-lgb {
    background-color: $lgb;
  }
  & .key-health {
    background-color: $health;
  }
  & .key-live {
    background-color: $live;
  }
  & .key-food {
    background-color: $food;
  }
}


    .conf {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $conf;
      width: 8px;
      height: 8px;
    }

    .conf::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $conf;
    }
    .health {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $health;
      width: 8px;
      height: 8px;
    }

    .health::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $health;
    }
    .food {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $food;
      width: 8px;
      height: 8px;
    }

    .food::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $food;
    }
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $fest;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $fest;
    }
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $fest;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $fest;
    }

// DATE = Dating event
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $date;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $date;
    }

    // LIVE = Live music
    .live {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $live;
      width: 8px;
      height: 8px;
    }

    .live::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $live;
    }


    .barpub {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $barpub;
      width: 8px;
      height: 8px;
    }

    .barpub::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $barpub;
    }
    .club {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $club;
      width: 8px;
      height: 8px;
    }

    .club::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $club;
    }

    // THEATRE = Theatre/Dance
    .theatre {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $theatre;
      width: 8px;
      height: 8px;
    }

    .theatre::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $theatre;
    }

    .comedy {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $comedy;
      width: 8px;
      height: 8px;
    }

    .comedy::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $comedy;
    }
    // EXHIB = Exhibitions and Attractions

    .exhib {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $exhib;
      width: 8px;
      height: 8px;
    }

    .exhib::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $exhib;
    }

    .arts {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $exhib;
      width: 8px;
      height: 8px;
    }

    .arts::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $exhib;
    }


    .edu {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $edu;
      width: 8px;
      height: 8px;
    }

    .edu::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $edu;
    }
