body {
  margin: 0;
}

.map {
  height: 100vh;
}

.mapboxgl-popup {
        max-width: 170px;
        font: 9pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
        & h4 {
          margin: 5px 2px 2px 2px;
          color: orange;
        }
        & p {
          margin: 2px;
        }
        & .event-image {
          display: flex;
          justify-content: center;
        }
    }
