
.navbar .container {
  display: block;

}

.navbar-brand {
  font-family: sans-serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
  border-bottom: 1px solid black;
}
.navbar-menu {
  display: flex;

}
.navbar-start {
  flex-grow: 1;
  justify-content:flex-start;
  font-family: sans-serif;
}
.navbar-start .navbar-item {
  border-right: 1px solid black;
}

.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 3px;
}
section:nth-of-type(2) {
  margin-bottom: 15px
}
