.hero-body {
background-color: #ffd230;

.title {
  font-weight: bold;
  color: black;

}
}
.navbar {
  background-color: #ffd230;
  .navbar-item {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
  }
}
