

.hero-body {
background-color: #ffd230;

.title {
  font-weight: bold;
  color: black;

}
}
#navbarBasicExample{
  margin-bottom: 5px solid white;
}
.navbar {
  background-color: #ffd230;

  .navbar-item {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
  }
}
