.map {
  height: 100vh;
}

body {
  margin: 0;
}

.position {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
