$white : #fefefe;
$black: #121212;
$grey: #777777;
$green: #4EDF47 ;
$green-dark: darken($green, 10%);
$red: #FF4B44 ;
$blue: #6BC0FF;
$yellow: #E8BF5E;
$orange: #FFAF4E;
$purple: #885EE8;

$primary: $black;
$primary-dark: darken($primary, 10%);
$secondary: $grey;
