$white : #fefefe;
$black: #121212;
$grey: #777777;
$green: #8EFF57 ;
$red: #FF7B74 ;
$blue: #6BC0FF;
$yellow: #E8BF5E;
$purple: #885EE8;

$primary: $purple;
$primary-dark: darken($primary, 10%);
$secondary: #6BC0FF;
