@import '_vars';

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $secondary;
  margin:0px

}
header {
  // height:50px;
  background-color: $primary;
  color: $white;
  display:flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding:0 20px;
  h1{
    font-family: 'Cantarell', sans-serif;
    font-size: 2em;
  }
  .info-bar{
    display:flex;
    justify-content: space-between;
    background-color: $white;
    color:$black;
    margin: 8px 0;
    border-radius: 5px;
    width:100%;
    &.win {
      background-color: $green;
    }
    &.lose{
      background-color: $red;
    }
    div {
      margin:10px;
    }
  }
  button {
    // padding:10px 80px;
    font-size: 1.5em;
    width:100%;
    color: $white;
    background-color: $blue;
    border: 1px solid $black;
    border-radius: 5px;
    margin-bottom: 8px;
    // box-shadow: 0px 4px 2px -2px $grey;
    outline: none;
    &:hover{
      background-color: $orange;
      // box-shadow: px 0px #888888;
      // transform: translate(2px, 2px);
    }
    &:active{
      background-color: $green;

      // box-shadow: 0px 0px $grey;
      // transform: translate(0px, 4px);
    }

  }
}
main{
  font-size: 1.2em;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:40px;


  .text-container{
    display: flex;
    justify-content: space-around;
    width:100%
  }
  .results-text-box{
    overflow: scroll;
  }
  .sample-text-box, .input-text-box, .results-text-box{
    text-align:justify;
    width: 100%;
    min-height: 9em;
    padding:8px;
    margin:4px;


    border: 1px solid $primary;
    background-color: $white;
    color: $black;

    .good{
      background-color: $green;
    }
    .bad{
      background-color: $red;
    }


  }




}

textarea{
  font-size: 1em;
  width:100%;

}
