
body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
select {
  height: 40px;
  width: 80px;
  margin: auto;
}

input {
  height: 80px;
  width: 20%;
  margin: auto;
}

.flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;

}

.flags div {
  border: 2px solid grey;
  width: 20%;
  margin: 20px;
}
.flags img {
  width: 80%;
  height: 200px;
  margin: 10px;
}
