.card-image {
  .image {
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.map {
  height: 150px;
}

.column {
  .image {
    margin: 0 auto;
      img {
      width: 200px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
