$wineRed: #722f37;

header{

  h1.title {
    color: $wineRed;
  }

  nav.navbar {
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    width: 100%;

    & div#navMenu{
      background: transparent;
    }

    a.navbar-item {
      color: #000;

      &:hover{
        color: $wineRed;
      }
    }
  }
}

body {
  background-image: url('/assets/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero {

  h1,h2 {
    color: #fff;
  }
}

.section.wineList {
  padding-top: 8%;

  .container {
    margin: auto;
  }

  div.card {
    height: 100%;
    border-radius: 10px;
    transition: border 0.1s ease;

    h3 {
      transition: background 0.1s ease, color 0.1s ease;
    }

    &:hover {
      border: 5px solid $wineRed;

      h3 {
        background: $wineRed;
        color: #ccc;
      }
    }
  }

  figure.image img {
    margin: auto;
    width: 30%;
    padding: 2%;
  }
}
