*{
  box-sizing: border-box;
}
body{
  font-family: 'Press Start 2P', cursive;
  background-color: lightblue;
}

.middle-sec{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
#scoreboard{
  display: flex;
  font-size: 55px;
  font-weight: 700;
}

.top-container{
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10%;
  margin-bottom: 20px;
}

.bot-container{
  width: 55%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.winner-display{
  font-size: 25px;
}
.options{
  width: 30%;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
  border: 3px solid darkblue;
}

button{
  background-color: lightblue;
}

img{
  width: 100px;
  height: auto
}

#reset{
  margin-top: 20px;
  width: 50%;
  display: block;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  border-radius: 20px;
  border: 3px solid darkblue;
}
