*{
  box-sizing: border-box;
}
body{
  font-family: 'Press Start 2P', cursive;
}

.middle-sec{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-container{
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 30% auto;
}

img{
  width: 100px;
  height: auto
}
