*{
  box-sizing: border-box;
}
body{
  font-family: 'Press Start 2P', cursive;
}

.middle-sec{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.top-container{
  width: 55%;
}
.bot-container{
  width: 55%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.winner-display{
  font-size: 25px;
}
.user-choice{
  width: 30%;
}

img{
  width: 100px;
  height: auto
}

#reset{
  margin-top: 20px;
  width: 50%;
  display: block;
}
