$footer: #EAEDE6;
$red: #CE302B;
$border: solid 1px #999;
$grey: #555;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oxygen;
}

h2,
h3 {
  font-weight: 700;
}

h2{
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header {
  width: 85%;
  margin: 10px auto;
  font-weight: 700;

  h1 {
    display: none;
  }

  nav {

    border-top: $border;
    border-bottom: $border;
    a {
      color: #333;
      padding: 5px;
      margin: 5px;
      text-transform: uppercase;

      &:last-child {
        margin-left: auto;
        color: red;
      }
    }
  }
}


.flex {
  display: flex;
}

main {
  width: 85%;
  margin: auto;

  .articleContainer {
    flex-direction: column;
    width: 65%;

    article {

      border-bottom: $border;
      margin-top: 25px;
      aside {
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
      }
      img {
        width: 100%;
      }
    }

    article.nonFeatured {

      padding-bottom: 25px;

      img {
        max-width: 70%;
        /*height: auto;*/
      }

      .smallArticleText {
        padding: 10px;
      }
    }

    button {
      width: 15%;
      align-self: flex-end;
      margin: 5%;
      padding: 2%;
      border: solid 1px $grey;
      background: #fff;
    }
  }

  .sidebar {
    width: 30%;
    margin-left: auto;

    .search {
      width: 100%;
      align-items: center;

      input {
        margin: 25px 0;
        width: 100%;
        padding: 2%;
        font-size: 1em;
        border: solid 1px #ccc;
        border-right: none;
      }

      button {
        backround: #fff;
        color: #fff;
      }
    }

    aside {
      background: $red;
      color: #fff;
      padding: 5px 10px;
      text-align: center;

      h3 {
        font-weight: 700;
      }

      form {
        width: 80%;
        margin: auto;
        flex-wrap: wrap;

        input {
          background: $red;
          color: #fff;
          border: none;
          border-bottom: solid 3px #fff;
          width: 100%;
          font-weight: 700;
          font-size: 1em;
          padding: 2%;
          margin: 10px 0;

          &:nth-child(2) {
            width: 70%;
          }
        }
        ::placeholder {
          color: #fff;
        }

        button {
          color: #fff;
          background: $red;
          font-weight: 700;
          font-size: inherit;
          width: 30%;
          border: none;
          border-bottom: solid 3px #fff;
          margin: 10px 0;
        }
      }
    }

    nav {
      flex-wrap: wrap;

      h3 {
        width: 100%;
      }

      a {
        padding: 2%;
        border: solid 1px #ccc;
        color: $grey;
        margin: 2px;
      }
    }
  }
}

footer {
  background: $footer;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;

  img {
    margin: 10px;
  }

  nav {
    a {
      font-weight: 700;
      color: $grey;
      margin: 5px;
    }
  }
}

#searchButton {
  width: 25px;
  padding: 0;
    img {
      height: 100%;
    }
}

.search {
  input,
  button {
    height: 25px;
  }

  button {
    border-left: none;
  }
}
