$footer: #EAEDE6;
$red: #CE302B;
$border: solid 1px #999;
$grey: #555;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oxygen;
}

h2,
h3 {
  font-weight: 700;
}

h2{
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header {
  width: 85%;
  margin: 10px auto;
  font-weight: 700;

  h1 {
    display: none;
  }

  nav {

    border-top: $border;
    border-bottom: $border;
    a {
      color: #333;
      padding: 5px;
      margin: 5px;
      text-transform: uppercase;

      &:last-child {
        margin-left: auto;
        color: red;
      }
    }
  }
}


.flex {
  display: flex;
}

main {
  width: 85%;
  margin: auto;

  .articleContainer {
    flex-direction: column;
    width: 65%;

    article {

      border-bottom: $border;
      margin-top: 25px;
      aside {
        font-weight: 700;
        text-transform: uppercase;
        color: $grey;
      }
      img {
        width: 100%;
      }
    }

    article.nonFeatured {

      padding-bottom: 25px;

      img {
        max-width: 70%;
        /*height: auto;*/
      }

      .smallArticleText {
        padding: 10px;
      }
    }

    button {
      width: 15%;
      align-self: flex-end;
    }
  }

  .sidebar {
    width: 30%;
    margin-left: auto;

    .search {
      width: 100%;

      input {
        margin: 25px 0;
        width: 100%;
        padding: 2%;
        border: solid 1px #ccc;
      }
    }

    aside {
      background: $red;
      color: #fff;
      padding: 5px 10px;
      text-align: center;

      h3 {
        font-weight: 700;
      }

      form {
        width: 80%;
        margin: auto;

        input {
          background: $red;
          color: #fff;
          border: none;
          border-bottom: solid 3px #fff;
          width: 100%;
          padding: 2%;
          margin: 10px 0;
        }

        ::placeholder {
          color: #fff;
        }
      }
    }

    nav {
      flex-wrap: wrap;

      h3 {
        width: 100%;
      }
    }
  }
}

footer {
  background: $footer;
  text-align: center;

  nav {

  }

  p {
    margin: 0;
  }
}

nav {

}
