* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url('https://get.pxhere.com/photo/grass-plant-field-lawn-meadow-leaf-flower-land-summer-moss-green-pasture-soil-turf-grassland-vegetation-shrub-yard-grass-land-green-grass-flowering-plant-grass-field-grass-family-land-plant-1173902.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: top;
  margin: 0;
  font-family: Courier, monospace;
}

.start {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.start button {
  background: #8c1823;
  color: #ff0;
  border-radius: 10px;
  height: 100px;
  width: 300px;
  font-size: 2em;
  font-family: inherit;
  font-weight: 800;
}


header {
  height: 100px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
}

header div {
  height: 100%;
  width: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100%/3);
  height: 200px;
}

.cell.mole {
  background-image: url('https://cdn.bulbagarden.net/upload/3/31/050Diglett.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.finalScore {
  font-size: 3em;
  color: white;
}

@media only screen and (max-width: 600px){
  header{
    flex-direction: column-reverse;
  }

  header div {
    width: 100%;
    font-size: 2em;
  }
}
