.hero-body{
background-size: -1;
background-color: #ffd230;
padding: 15px;
margin-left: -150px;
}
.hero.is-primary .title {
  color: black;
  font-size: 2rem;
}
a.button{
background-color: #ffd230;
border-color:#ffd230;
display: inline-block;
display: none;
padding: 15px;
}
@media (min-width: 769px) {
  a.button {
    display: block;
  }
}
.section{
  display: flex;
  padding-top: 10px;
  font-size: 1rem;
}
.big{
  font-size: 2rem;
  text-align: central;
}
.title{
  font-size: 1rem;
}
