.container {
  max-width: 500px;
  margin-top: 10%;
}

.title.is-2 {
  margin-bottom: 10px;
  text-align: center;
}

.column {
  margin-left: 2px;
}

.container .notification {
  text-align: center;
  font-size: 18px;
}

.box .button {
  width: 100%;
}
