$fest: blue;
$date: #ff00ff;
$theatre: purple;
$comedy: red;
$exhib: white;
$arts: white;
$edu: yellow;
$barpub: black;
$club: black;
$lgb: orange;
$conf: grey;
$health: violet;
$live: cyan;
$food: green;

body {
  margin: 0;
  font-family: sans-serif;
}

.mapboxgl-popup {
  max-width: 170px;
  font: 9pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
  & h4 {
    margin: 5px 2px 2px 2px;
    color: orange;
  }
  & p {
    margin: 2px;
  }
  & .event-image {
    display: flex;
    justify-content: center;
  }
}

.loader:empty {
    background-image: url("https://cdn.dribbble.com/users/5976/screenshots/3928966/e_letter_mark_for_energy_events_logo_design_symbol_by_alex_tass.png");
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 30%;
    height: 30%;
    border: 1.5em solid rgba(0, 0, 0, 0.2);
    border-left: 1.5em solid #000000;
    border-radius: 50%;
    animation: load8 1s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.map {
  height: 95vh;
}

.key {
  height: 5vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  & .subkey {
    // height: 20px;
    // width: 20px;
    // border-radius: 100%;
    flex-grow: 1;
    text-align: center;
    padding: 1vh;
  }
  & .key-fest {
    background-color: $fest;
    color: white;
  }
  & .key-dates {
    background-color: $date;
  }
  & .key-theatre {
    background-color: $theatre;
    color: white;
  }
  & .key-comedy {
    background-color: $comedy;
    color: white;
  }
  & .key-exhib {
    background-color: $exhib;
  }
  & .key-edu {
    background-color: $edu;
  }
  & .key-barpub {
    background-color: $barpub;
    color: white;
  }
  & .key-lgb {
    background-color: $lgb;
  }
  & .key-health {
    background-color: $health;
  }
  & .key-live {
    background-color: $live;
  }
  & .key-food {
    background-color: $food;
  }
}


    .conf {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $conf;
      width: 8px;
      height: 8px;
    }

    .conf::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $conf;
    }
    .health {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $health;
      width: 8px;
      height: 8px;
    }

    .health::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $health;
    }
    .food {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $food;
      width: 8px;
      height: 8px;
    }

    .food::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $food;
    }
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $fest;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $fest;
    }
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $fest;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $fest;
    }

// DATE = Dating event
    .fest {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $date;
      width: 8px;
      height: 8px;
    }

    .fest::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $date;
    }

    // LIVE = Live music
    .live {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $live;
      width: 8px;
      height: 8px;
    }

    .live::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $live;
    }


    .barpub {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $barpub;
      width: 8px;
      height: 8px;
    }

    .barpub::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $barpub;
    }
    .club {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $club;
      width: 8px;
      height: 8px;
    }

    .club::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $club;
    }

    // THEATRE = Theatre/Dance
    .theatre {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $theatre;
      width: 8px;
      height: 8px;
    }

    .theatre::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $theatre;
    }

    .comedy {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $comedy;
      width: 8px;
      height: 8px;
    }

    .comedy::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $comedy;
    }
    // EXHIB = Exhibitions and Attractions

    .exhib {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $exhib;
      width: 8px;
      height: 8px;
    }

    .exhib::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $exhib;
    }

    .arts {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $exhib;
      width: 8px;
      height: 8px;
    }

    .arts::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $exhib;
    }


    .edu {
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: 8px solid $edu;
      width: 8px;
      height: 8px;
    }

    .edu::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      bottom: -30px;
      left: -6px;
      border: 10px solid transparent;
      border-top: 17px solid $edu;
    }
