html {
  margin-top: 250px;
  padding-bottom: 50px;
  background-image: url('https://cdn.pixabay.com/photo/2013/07/13/12/46/iphone-160307_960_720.png');
  background-position: center;
  background-repeat: no-repeat;
}
