* {
  box-sizing: border-box;
}

header {
  h1 {
    display: none;
  }
  nav {
    text-transform: uppercase;
    font-family: arial;
    font-weight: bolder;
  }
}

body.container {
  max-width: 900px;
  margin: auto;
}
main {
  display: flex;
}

.left-main {
  width: 75%;
  .small {
    display: flex;
  }
}

.right-main {
  width: 25%;
  div:first-child {
    background-color: red;
  }
}
