* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  font-weight: bolder;
  padding-top: 20px;
  margin: 0;
}

// This is for all inputs on the page
input {
  -webkit-appearance: none;
}

header {
  max-width: 1000px;
  margin: auto;

  h1 {
    display: none;
  }
  nav {
    display: flex;
    text-transform: uppercase;
    padding: 10px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-top: 20px;
  }
  a {
    padding: 3px;
    text-decoration: none;
    color: black;
  }
  #shop {
    margin-left: auto;
    color: red;
  }
}

main {
  display: flex;
  max-width: 1000px;
  margin: auto;

  .left-main {
    width: 70%;
    padding-top: 30px;
    padding-right: 10px;
    .small {
      display: flex;
      flex-direction: row;
      padding: 20px 20px 20px 0;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
    }
    .small-text {
      padding-left: 20px;
    }

    #next {
      margin: 50px 0;
      text-align: right;
      a {
        display: inline-block;
        border: 1px solid black;
        padding: 20px 30px;
        background: white;
        text-decoration: none;
      }
    }
  }

  .right-main {
    width: 30%;
    padding-top: 30px;

    .module {
      margin-bottom: 10px;
      // Use & when there are two classes
      // <div class="module search">
      &.search {
        form {
          // https://stackoverflow.com/questions/15314407/how-to-add-button-inside-input
          /* This bit sets up the horizontal layout */
          display: flex;
          flex-direction: row;
          /* This bit draws the box around it */
          border: 1px solid grey;
          padding: 2px;

          input[type="text"] {
            /* Tell the input to use all the available space */
            flex-grow: 2;
            /* And hide the input's outline, so the form looks like the outline */
            border: none;
          }

          button {
            /* Just a little styling to make it pretty */
            border: 1px solid blue;
            background: blue;
            color: white;
          }
        }
      }
      &.subscribe {
        background-color: red;
        color: white;
        padding: 5px 10px;
        text-align: center;
        form {
          input {
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #fff;
            padding: 5px;

            // input::placeholder (normal CSS)
            &::placeholder {
              color: #fff;
            }
          }
        }
      }
      &.categories {
        ul {
          padding: 0;
          li {
            display: inline-block;
            border: 1px solid #000;
            padding: 5px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: grey;
  nav {
    padding-top: 15px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 2px;
      color: black;
    }
  }
  p {
    text-transform: uppercase;
  }
}
