body {
  margin: 0;
}

.map {
  height: 100vh;
}

.custom-marker {
  // color: white;
  // font-size: 16px;
  // font-weight: bold;
  // width: 30px;
  // height: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
