body {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.flags {
  display: flex;
  flex-wrap: wrap;
}

.flags div {
  padding: 5px;
  margin: 5px;
  border: 0.5px solid lightgrey;
  width: 200px;
}

.flags div img {
  width: 200px;
  margin: 8px 0;
}

h4 {
  margin: 8px 0;
  display: wrap;
}
