.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*"vh" means % of the view port*/
  height: 100vh;
}
.start-button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
}
.game-buttons-12 {
  border: 2px solid grey;
  width: 25%;
  background-size: cover;
}
.game-buttons-24{
  width: calc(25% /2);
  border: 2px solid grey;
  background-size: cover;
}
.game-over-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hidden {
  display: none;
}
