body {
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica, sans-serif;
  height: 100vh;
}

.tubeLines div {
  border: 1px solid white;
  margin: 5px 0;
  align-content: center;
  border-radius: 5px;
}

h1 {
  font-size: 50px;
  margin: 10px;
}

h2 {
  margin: 6px;
}

h3 {
  margin: 4px;
}

div:nth-child(1) {
  background-color:	#B36305;
}

div:nth-child(2) {
  background-color: #E32017;
}

div:nth-child(3) {
  background-color:	#FFD300;
}

div:nth-child(4) {
  background-color:	#00782A;
}

div:nth-child(5) {
  background-color:	#F3A9BB;
}

div:nth-child(6) {
  background-color:	#A0A5A9;
}

div:nth-child(7) {
  background-color:	#9B0056;
}

div:nth-child(8) {
  background-color:	#000000;
  color: white;
}

div:nth-child(9) {
  background-color:	#003688;
}

div:nth-child(10) {
  background-color:	#0098D4;
}

div:nth-child(11) {
  background-color:	#95CDBA;
}
