body{
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

.navbar {
  background: #0019A8;
  color: #fff;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  margin: auto;
  text-align: center;
  padding: 20px 10px;
}

.tubeDiv{
  text-align: center;
}

.tubeDiv div{
  width: 40%;
  border: 1px ridge grey;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 10px;
  margin: 20px auto;
  color: white;
}

img{
  width: 200px;
}

#bakerloo{
background: 	#B36305;
}

#central{
  background: #CC3333;
}

#circle{
  background: #FFCC00;
}

#district{
  background: #00782A;
}

#hammersmith-city {
  background: #F4A9BE;
}

#jubilee{
  background: #868F98;
}

#metropolitan{
  background: #ADADAF;
}

#northern{
  background: black;
}

#piccadilly{
  background: #003688;
}

#victoria{
  background: 	#0098D4;
}

#waterloo-city{
  background:	#66CCCC;
}
