/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/

body, input {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

button {
  background-color: #3897f0;
  color: white;
}

.logo {
  position: relative;
}

.firstblock {
  border: 1px solid black;
  padding: 20px
}

.signing {
  border: 1px solid black;
}

.all {
  float: right;
}

footer {
  border: 1px solid black;
}
