$border:1px solid #ddd;

* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  nav {
    display: flex;
    justify-content: flex-start;
    border-top: $border;
    border-bottom: $border;
    a {
      padding:10px 20px 10px 0;
      text-decoration: none;
    }
    a:last-child {
      align-items: center;
      margin-left: auto;
      padding-right: 0;
    }
  }
}

// header nav a:nth-child(3) {
//   flex: 2;
// }

main {
  display: flex;

  section {
    max-width: 75%;
  }
}
