$border:1px solid #ddd;
$color: #444;

* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: $color;
}

header {
  padding-top: 50px;
  nav {
    display: flex;
    justify-content: flex-start;
    border-top: $border;
    border-bottom: $border;
    a {
      padding:10px 20px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      color: $color;
      font-weight: 900;
      font-size: 14px;
      &:hover {
        color: red;
      }
      &:last-child {
      align-items: center;
      margin-left: auto;
      padding-right: 0;
      color: red;
      }
    }
  }
}

main {
  display: flex;

  .articles {
    max-width: 75%;
  }

  .extra {
    max-width: 25%
  }
}
