*{
  font-family: 'Quattrocento Sans', sans-serif;
}

.container {
  // background: rgb(0,25,168);
  max-width: 500px;
  margin: auto;
}

h1{
  color: rgb(0,25,168);
}



.line-status , .delayed-lines {

  > div{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
}

h3{
  color: rgb(0,25,168);
}

.bakerloo{
  background: rgb(178,99,0);
}
.central{
  background: rgb(220,36,31);
}
.circle{
  background: rgb(255,211,41);
}
.district{
  background: rgb(0,125,50);
}
.hammersmith-city{
  background: rgb(244,169,190);
}
.jubilee{
  background: rgb(161,165,167);
}
.metropolitan{
  background: rgb(155,0,88);
}
.northern{
  background: rgb(0,0,0);
}
.piccadilly{
  background: rgb(0,25,168);
}
.victoria{
  background: rgb(0,152,216);
}
.waterloo-city{
  background: rgb(147,206,186);
}
