$red: #f6201d;
$red-light: lighten( $red, 50% );
$black: #121212;
$white: #ededed;
$black-trans:rgba($black,0.99);
$transparent:rgba(0,0,0,0.0);
$semi-transparent:rgba($black,0.1);

$border-thickness: 1px;
