body {
  background-color: black;
  color:white;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
}
button {
  width: 250px,
  height: 200px,
}
