*{
  box-sizing: border-box;
}

body{
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

.container{

max-width: 900px;
margin: auto;
}

input{
  width:100%;
}

header{
  nav{
    display: flex;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    a{
      padding: 15px;
      font-weight: 700px;
    }
    a:last-child{
      color: red;
      margin-left:  auto;
      padding-right: 0
    }
  }
}


main{
  display: flex;
  justify-content: space-around;

  section:last-child{
    background-color: #ccc;
    padding: 10px;
    a{
      padding: 10px;

    }
  }

}




  .subscribe{
    background-color: red;
    display: flex;
    flex-direction: column;
    form{
      display: flex;
      flex-direction: column;
    }
  }


.small{
  display: flex;
  height: 200px;
  margin-top: 10px;
}

footer{
  text-align: center;
  background-color: #eee;
  nav{
    display: flex;
    justify-content:center;
    padding: 10px;
    p{
      margin: 0px;
      padding: 10px;
    }
    a{
      padding: 0 20px;
    }
}
}
