*{
  box-sizing: border-box;
}

.container{

max-width: 900px;
margin: auto;
}

input{
  width:100%;
}

header{
  nav{
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    a{
      padding: 15px;
    }
    a:last-child{
      color: blue;
      margin-left:  auto;
      padding-right: 0
    }
  }
}


main{
  display: flex;
  justify-content: space-around;

  section:last-child{
    background-color: #ccc;

    a{
      padding: 10px;

    }
  }
}

footer{
  text-align: center;
  nav{
    display: flex;
    justify-content:center;
    background-color: red;
    a{
      padding: 0 20px;
    }
}
}


  .subscribe{
    background-color: red;
    display: flex;
    flex-direction: column;
    form{
      display: flex;
      flex-direction: column;
    }
  }


.small{
  display: flex;
  height: 200px;
}
