*{
 font-family: sans-serif;
}

body{
  margin: 0;
}

h1{
  color: white;
  background: grey;
  margin: 0;
  padding: 20px;
}

.container{
  max-width: 1000px;
  margin: auto;
}

img{
  width: 98%;
}

.search-area{
  display: flex;
  justify-content: space-between;
}

.search-area > form input, select{
  margin: 5px;
  width: 100px;
  height: 30px;
  padding: 0;
}

.flags{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.flags > div{
  width: 20%;
  border: 1px grey solid;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
