* {
  box-sizing: border-box;
}

.is-primary {
  background-color: rgb(254,208,68) !important;
}

header > nav > .container {
  border-bottom: 1px solid #ccc;
}

.navbar-start > .navbar-item {
  border-right: 1px solid #ccc;
}

.navbar.is-primary .navbar-start>a.navbar-item:hover {
  background-color: transparent;
  border-bottom: 3px solid black;
}
