.image {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-header-title {
  font-size: 18px;
  text-align: center;
  height: 80px;
}

.card-content {
  height: 360px;
}
