@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

// $cheesy: #ebe1bf;
//
// $primary: darken($cheesy, 30%);
// $family-sans-serif: "Quicksand", sans-serif;
// $navbar-background-color: $cheesy;
// $navbar-item-hover-background-color: darken($cheesy, 10%);
//
// $column-gap: 0.25rem;
//
// $control-radius: 0;
// $control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

* {
}
$time: 15s;

html {
  height: 100%;
}

.background {
  background: radial-gradient(1000px at 75% -75%, rgba(238, 37, 9, 0.9), rgba(250, 125, 69, 0.5));
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes blink {
  0% {
    border: 0px solid rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 1.0);
    transform: rotate(0deg) scale(.25);
  }
  25% {
    border: 200px solid rgba(255, 255, 255, 1.0);
    background: rgba(255, 255, 255, 0.0);
    transform: rotate(360deg) scale(1) skew(5deg);
  }
  100% {
    border: 0px solid rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 1.0);
    transform: rotate(0deg) scale(.25);
  }
}

.circle {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  top: -500px;
  transform-origin: 75% 50%;
  animation: blink $time infinite ease-in-out;
}

.circle:nth-child(2) {
  height: 790px;
  width: 790px;
  animation: blink $time infinite 1s ease-in-out reverse;
}

.circle:nth-child(3) {
  height: 795px;
  width: 795px;
  animation: blink $time infinite 1.5s ease-in-out;
}

.date {
  padding-top: 25px;
  font-style: 400;
  font-size: 13px;
  text-align: center;
  color: #bcbcbc;
}

.card-image {
  .image {
    height: 300px;
    justify-content: center;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#logo {
  text-align: center;
  font-size: 9rem;
  font-family: 'Baloo Thambi', cursive;
  color: black;
}

#subtitle {
  text-align: center;
}

.card {
  height: 700px;
  width: 400px;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 800px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 800px;
}

select {
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: none;
  text-align: center;
  text-align-last:center;
}

option {
  text-align: center;
}
.button {
  margin-top: 10px;
  border: none;
  height: 50px;
  font-size: 20px;
  color: black;
}
