/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/
*{
  box-sizing: border-box;
}

/* main{
  margin: 30px 0;
} */

.container{
  overflow: auto;
  width: 53%;
  margin: auto;
  max-width: 1200px;
  padding: 10px 0;
}

#left{
  float: left;
  width: 50%;
  padding: 10px;
}

footer{
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

footer nav{
  float:left;
  padding-bottom: 15px;
}

footer p{
  float: right;
  color: #999;
  padding-bottom: 15px;
}

nav a{
  color: #003569;
  text-decoration: none;
  font-weight: bold;
  padding-right: 6px;
}


img{
  width: 100%;
  height: auto;
}

#right{
  float: right;
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 0;
  color: #999;
}

body, input {
  font-family: 'Karla', sans-serif;
  background-color: #fafafa;
}

form{
  text-align: center;
  height: auto;
  background-color: white;
  border: 2px solid #e6e6e6;
  line-height: 1.4;
  padding: 15px;
}

form div{
  height: 30%;
  margin-bottom: 6px;
}

form img{
  width:auto;
  height: auto;
  padding-top: 15px;
}

form p{
  width: 70%;
  margin: 5px auto;
  padding: 10px;
}

aside{
  border: 2px solid #e6e6e6;
  background-color: white;
  margin-top: 5px;
  padding: 5px;
}

aside p{
  text-align: center;
  color: black;
}

button{
  width: 70%;
  padding: 4px 0;
  background-color: #3897f0;
  color: white;
  font-weight: bold;
  padding: 8px;
}
input{
  width: 70%;
  padding: 4px;
  display: block;
  margin: 6px auto;
  background-color: #fafafa;
}

.get-app{
  text-align: center;
  width: 100%;
  color: black;
  padding: 45px;
}

.app-images{
  overflow: auto;
  height: auto;
}

#playstore{
  float: right;
  width: 50%;
}

#appstore{
  float: left;
  width: 50%;
}


@media screen and (max-width: 600px) {
  
}
