@mixin severity($bg:$white, $text:$black, $icon:$green, $sym:"✓"){
  h3{
    background-color: $bg;
    color:$text;
    &:after{
      color: $icon;
      margin-left: 8.5em;
      content: $sym;
    }
  }
}

@mixin lineColour($color1){
  .band{
    background-color: $color1
  }
}

@mixin loadAnim{
  0%{width:0%}
  50%{
    width:100%;
    opacity:1;
  }
  100%{
    width:100%;
    opacity:0
  }
}
