.items {
  display: flex;
  height: 700px;
  overflow-x: scroll;
  align-items: center;
  will-change: transform;
  position: relative;
  perspective: 1000px;
}

.items.active {
  cursor:grabbing;
  transform: scale(1.1);
}

.item {
  display: inline-flex;
  border: 1px solid black;
  padding: 200px 200px 200px 200px;
  font-size: 30px;
  align-items: center;
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);


}

.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
