
$pixel: "Press Start 2P", monospace;

* {
  box-sizing: border-box;
}

body {
  font-family: $pixel;
}

h1, h2 {
  text-align: center;
}

div.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

div.choice {
  width: 15%;
  text-align: center;
}

div.center {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #gameBoard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    button {
      background: #fff;
      width: calc(100%/3);
      font-family: $pixel;
      padding: 2em;
      outline: none;
      margin: 2.5px auto;
      display: inline-block;
      cursor: pointer;
      border: double #000;
      border-radius: 5px;
      flex-grow: 1;
    }
    #resetButton {
      width: 100%;
    }
  }
}

div.choice {

  img {
    width: 100%;
  }
}
