.moleholder{
  height: 200px;
  width: 30%;
  margin-left:  10px;
  margin-bottom:  10px;
}

body{
  background-color: lightblue;
}

.active{
  background-image: url("./mole.jpg");
  background-repeat: no-repeat;
  background-size : contain;
  background-position: center;
}


#countDisplay{
  display: inline-block;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}

button{
  display: block;
}

.start-game{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
