*{
  box-sizing: border-box;
}

.container{
  width:80%;
  height:auto;
  background-color: red;
  display: flex;
  flex-wrap:wrap;
  margin: auto;


}
nav{
  width: 100%;
  ul{
    display: flex;

    li{
      list-style-type: none;
      margin-right: 10px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
header{
  height: 100px;
  background-color: green;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  .headerImage{
    height: auto;
    width:auto;
    background: blue;
  }
      li{

        &:last-child{
          margin-left: auto;
          background: #ff0000;
        }
      }
}


main{
  width:100%;
  height: auto;
  background-color: blue;
  display: flex;
  .left{
    height:auto;
    width:70%;
    background-color: grey;
    flex-direction:column;
    section{
      height: auto;
      width: 100%;
      &:first-child{
        height: auto;
        display: flex;
        flex-direction:column;
        background-color: white;
        .content-big{
          height: auto;
          width: 100%;
          .images-div{
            height: auto;
            background-color: white;
            width: 100%;

          }

        }

      }
      &:last-child{
        background-color: #ff0000;
      }
    }
  }
  .right{
    height:400px;
    width:30%;
    background-color: limelight;

  }

}

footer{
  height:auto;
  width: 100%;
  background-color: green;
  display: flex;
  flex-wrap:wrap;
  text-align: center;

  div{
    height:auto;
    width:100%;
    background-color: red;
  }
  nav{
    background-color: red;

    ul{
    justify-content: center;
  }
  }


}
