$footer-backcol: #ccc;


*{
  box-sizing: border-box;
}
h1{
  display: none;
}


.container{
  width:80%;
  height:auto;
  display: flex;
  flex-wrap:wrap;
  margin: auto;


}
nav{
  width: 100%;
  height: auto;

   ul{
     display: flex;

    li{
      list-style-type: none;
      margin-right: 15px;


      a{
        text-decoration: none;
        color: black;
      }
   }
   }
}
header{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  .headerImage{
    height: auto;
    width:auto;
  }
       li{

        &:last-child{
         margin-left: auto;
         }
      }
}


main{
  width:100%;
  height: auto;
  display: flex;


  .left{
    height:auto;
    width:65%;
    flex-wrap:wrap;



    section{
      height: auto;
      width: 100%;

      &:first-child{
        height: auto;
        background-color: white;
        display: flex;
        flex-wrap:wrap;
        .content-big{
          height: auto;
          width: 100%;
          .images-div{
            height: auto;
            background-color: white;
            width: 100%;
          }
        }
      }

      &:nth-child(2){
        height: auto;
        .content-small{
          width: 100%;
          height: auto;
          display: flex;
        }
      }
      &:last-child{
        height: 50px;
        width: 100%;
        display: flex;

        form{
          margin-left: auto;

        }
      }
    }

  }
  .right{
    height:auto;
    width:35%;
    form{
      height: 40px;
      background-color: red;
    }

    // form{
    //   background-color: white;
    //
    //   &:last-child{
    //     height: 500px;
    //     display: flex;
    //     flex-direction:column;
    //     width: 100%;
    //     background-color: grey;
    //   }
    //
    // }

    nav{
      width: auto;
      height: 300px;

      ul{
        flex-wrap:wrap;
        li{
          border: 1px solid black;
          height: 40px;
          padding: 10px;
          margin: 5px 2px;
        }
      }


    }

  }
}

footer{
  height:auto;
  width: 100%;
  background-color: $footer-backcol;
  display: flex;
  flex-wrap:wrap;
  text-align: center;

  div{
    height:auto;
    width:100%;
  }
  nav{

    ul{
    justify-content: center;
  }
  }


}
