$fontstack: Montserrat, sans-serif;
$primary-color: grey;
@mixin flex(){
  display:flex;
}

.container {
max-width:900px;
margin: auto;
font-family: $fontstack;
}
main {
  display:flex;
}
.right{
background-color: green;
}
header{
  nav{
    ul {
      display:flex;
      justify-content: flex-start;
      margin-left: none;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      margin-bottom: 30px;
      padding: 5px 0 5px 0;

    }
    li {
      padding-right: 10px;
      list-style: none;
      color: black;
      font-weight: bold;
    }
    li:nth-child(7){
      margin-left: auto;
      color: red;
    }
  }
}

.top {
  p {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }
}
.bottom {
  display: flex;
  flex-direction: column;
}
.first-article {
  @include flex;
}
.second-article {
  @include flex;
}
.third-article {
  @include flex;
}
.bottom {
  article {
    margin: 0 0 20px 0;
    border-bottom: 1px solid grey;
  }
  div {
    padding-left: 20px;
  }
  img {
    margin-bottom: 20px;
  }
}
