.container {
max-width:900px;
margin: auto;
}
main {
  .top{
    background-color: pink;
  }
  .bottom{
    background-color: red;
  }
  display:flex;
}
.right{
background-color: green;
}
header{
  nav{
    ul {
      display:flex;
      justify-content: flex-start;
      margin-left: none;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      margin-bottom: 30px;
      padding: 5px 0 5px 0;
    }
    li {
      padding-right: 10px;
      list-style: none;
      color: black;
    }
    li:nth-child(7){
      margin-left: auto;
      color: red;
    }
  }
}
