main{
  margin:auto;
}

.navbar {
  width: 100%;
  height: 31px;
  display: flex;
  background-color: #ffd230;

  .navbar-menu {
    padding: 5px 0 0 5px;

    .navbar-start {
      height: 0%;
      padding-top: 0px;
      width: 100%;
      border-top: 1px solid black;
      border-left: none;

      .navbar-item:last-child {
        border-right: none;
      }

      .navbar-item {
        height: 30px;
        margin: 0px;
        border-right: 1px solid black;


        &:hover {
          border-bottom: 3px solid black;
          background-color: #ffd230;




        }
      }
    }
  }
}

a{
  color: black;
}
.a1:hover {
  text-decoration:underline;
}

.toptitle{
  display: inline-block;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 5px;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.herotop{
  background-color: #ffd230;
  width: 100%;
  height: 80px;
  padding-top: 0px;
}
.hero-body{
  padding-bottom: 1 rem;
}
