
* { $box-sizing:
  border-box;
}

$background-color: black;
$foreground-color: blue;
// div {
//   border: 3px solid $background-color;
// }
main {
  $display: flex;
}
body {}
header{}
section {
    $display: flex;
    $width: 50%;
    $max-width: 900px;
    $flex-direction: column;
}
section {
  $background-color: red;
  $width: 900px;
  $margin: 0 auto;
  $display: flex;
  $flex-direction: column;
}
form {}
form {}
footer{}
