* {
  box-sizing: border-box;
}

body,
input {
  font-family: "Karla", sans-serif;
  background-color: #fafafa;
}

/* .container {
  overflow: auto;
  max-width: 900px;
  margin: auto;
} */
/* .left {
  width: 50%;
  float: left;
  padding: 90px 0;
} */

.right {
  width: 50%;
  float: left;
  color: #999;
  padding: 40px 0;
}
button {
  background-color: #3897f0;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

form input {
  width: 75%;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
}

input::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

.signup {
  padding: 30px;
  font-weight: bolder;
}
#sign {
  font-weight: 400;
}

#terms {
  color: #999;
  text-decoration: none;
}

.signup,
.login {
  font: #999;
  background-color: white;
  text-align: center;
  border: solid 1px #e6e6e6;
}

.login {
  margin: 10px 0;
  padding: 30px;
  color: black;
  font-weight: bold;
}

.appStore {
  text-align: center;
  padding: 10px 0;
  color: black;
  font-weight: bold;
}

input {
  margin: 3px 3px;
  font-weight: bold;
}

.login a {
  padding-left: 5px;
  text-decoration: none;
  color: #3897f0;
}

footer {
  padding: 20px;
  margin: auto;
  max-width: 1000px;
}
nav a {
  text-decoration: none;
  color: #003569;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  padding-left: 10px;
}
a {
  padding-right: 5px;
}

.copyright {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  margin: 0;
  padding-right: 25px;
}

@media screen and (max-width: 600px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
    float: none;
  }
  footer {
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  #cr {
    display: block;
    float: none;
    clear: both;
    text-align: center;
    padding: 2px;
  }
}
