/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/
* {
  box-sizing: border-box;
}

body,
input {
  font-family: "Karla", sans-serif;
  background-color: #fafafa;
}

.container {
  overflow: auto;
  max-width: 900px;
  margin: auto;
}
.section1 {
  width: 50%;
  float: left;
  padding: 90px 0;
}

.section2 {
  width: 50%;
  float: left;
  color: #999;
  padding: 40px 0;
}
.section2 button {
  background-color: #3897f0;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  width: 75%;
  padding: 10px;
  border-radius: 5px;
}

form input {
  width: 75%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.signup {
  padding: 30px;
  font-weight: bolder;
}
.signup,
.login {
  font: #999;
  background-color: white;
  text-align: center;
  border: solid 1px #e6e6e6;
}

.login {
  margin: 10px 0;
  padding: 30px;
  color: black;
  font-weight: bold;
}

.appimages {
  text-align: center;
  padding: 10px 0;
  color: black;
  font-weight: bold;
}

input {
  margin: 3px 3px;
  font-weight: bold;
}

.login a {
  padding-left: 5px;
  text-decoration: none;
  color: #3897f0;
}

footer {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #003569;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  padding-left: 10px;
}
a {
  padding-right: 5px;
}

.copyright {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  float: right;
  margin: 0;
  padding-right: 25px;
}

@media screen and (max-width: 600px) {
  .section1 {
    display: none;
  }
  .section2 {
    width: 100%;
    float: none;
  }
  footer p {
    float: none;
  }
}
