* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  margin: auto;

}

.flex-item {
  width: 24%;
  height: 24%;
  border: 2px solid #555;
  justify-content: space-around;
  margin-left: 5px;
  border-radius: 15px;
}

button {
  color: yellow;
  background-color: black;
  font-size: 22px;
  border: none;
  top: 500px;
  padding-top: 40%;
  padding-left: 18%;
}
