* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* header {
  color: red;
  text-align: center;
  font-size: 150px;
} */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  margin: auto;
  border: 2px solid #555;
}

.flex-item {
  width: 24%;
  height: 24%;
  border: 2px solid #555;
  justify-content: space-around;
}

button {
  color: red;
}
