*{
  box-sizing: border-box;
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#info{
  color: white;
  text-align: center;
  font-size: 20px;

}
.container{
  background-color: #659EC7;
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 3px 5px 20px -2px rgba(0,0,0,0.63);
  -moz-box-shadow: 3px 5px 20px -2px rgba(0,0,0,0.63);
  box-shadow: 3px 5px 20px -2px rgba(0,0,0,0.63);
}
.status{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  color: #505050;

  h2{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
}

#bakerloo{
  border-top: 10px solid 	#B36305;
}
#central{
  border-top: 10px solid 	#E32017;
}
#circle{
  border-top: 10px solid 	#FFD300;
}
#district{
  border-top: 10px solid 	#00782A;
}
#hammersmith-city{
  border-top: 10px solid 	#F3A9BB;
}
#jubilee{
  border-top: 10px solid 	#A0A5A9;
}
#metropolitan{
  border-top: 10px solid 	#9B0056;
}
#northern{
  border-top: 10px solid 	#000000;
}
#piccadilly{
  border-top: 10px solid 	#003688;
}
#victoria{
  border-top: 10px solid 	#0098D4;
}
#waterloo-city{
  border-top: 10px solid 	#95CDBA;
}
