body{
  margin:0;
}
.map{
  height: 100vh;
}
.custom-marker {
  font-size: 16px;
  font-weight: bold;
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
