* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  header {
    background-color: #5822F6;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 44px;
    font-family: Asap, sans-serif;
    font-weight: bold;
  }
  main {
    margin: 70px;
    display: flex;
    justify-content: center;

    .choice {
      border: 1px solid #4E5963;
      display: inline-block;
      padding: 10px;
      width: 110px;
      height: 110px;
      color: white;
      margin: 0 20px;
      transition: all 0.3s ease;
      font-weight: bold;
      border-radius: 220%;
      font-size: 14px;
    }

    .choice:hover {
      cursor: pointer;
    }

    #rock {
      background-color: #F5654D;
      border: none;
    }

    #paper {
      background-color: #5FBDBC;
      border: none;
    }

    #scissors {
      background-color: #F7BE3C;
      border: none;
    }
  }
  h1 {
    text-align: center;
    font-size: 24px;
    font-family: Asap, sans-serif;
    font-weight: bold;
  }
}
