body {
  margin: 0;
}

.map {
  height: 100vh;
}

.custom-marker {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  margin: 5px;
}

p {
  margin: 0;
}
