#main-section{
  margin-top: 20% !important;
}

body{
  height: 100vh;
  background-color: crimson;
}
.ui.segment,
.ui.primary.segment {
    background: #1B1C1D;
    color: rgba(255, 255, 255, 0.9);
}
