.card-image {
  .image {
    height: 600px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.image img {
  height: 600px;
  width: 200px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}



h1.title.is-1 {
  margin-top: 30px;
  color: red;
  margin-left: 20%;
}

nav {
  margin-left: 40%;
  margin-top: 15px;
}

nav a {
  margin-left: 30px;
}
