* {
  box-sizing: border-box;
}

iframe {
  width: 100%;
}

section {
width: 60%;
margin: auto;
}

.header h1 {
text-align: center;
margin-bottom: 0;
}

.yourChoice {
border: 2px solid #555;
margin-top: 20px;
background-color: red;
margin-right: 20px;
margin-bottom: 0;
text-align: center;
border-radius: 15px;
margin-left: 20px;
color: white;
width: 70%;
margin-left: 130px;
}

.vs {
  text-align: center;
  width: 50%;
}

.vs h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: 420px;
}

.computerChoice{
border: 2px solid #555;
margin-right: 20px;
background-color: red;
margin-right: 20px;
margin-bottom: 30px;
text-align: center;
border-radius: 15px;
margin-left: 20px;
color: white;
width: 70%;
margin-left: 130px;
}

.computerChoice h {
  margin-bottom: 0;
}

button {
padding: 2%;
justify-content: space-around;
flex-grow: 1;
margin-right: 5px;
padding-top: 10px;
}

.choice {
display: flex;
justify-content: space-around;
padding: 20px;
}

.btn {
 border-radius: 40px;
 background-color: red;
 color: white;
}

main {
 padding-top: 0;
}

.select p {
  text-align: center;
  margin: 0;
  text-decoration: underline;
}

.header aside {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: red;
  text-align: center;
  border-radius: 15px;
  color: white;
  width: 100%;
  padding: 10px;
}

button.winner {
  background-color: red;
  border: none;
  color: white;
  padding: 25px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}
