* {
  box-sizing: border-box;
}

/* img {
  position: relative;
  width: 100%;
  margin: auto;
  margin-right: 50px;
  padding-left: 100px;
  padding-right: 100px
  height: 330px;
  border-radius: 400px;
} */
iframe {
  width: 100%;
}

section {
width: 60%;
margin: auto;
border: 2px solid black;
}

.header h1 {
text-align: center;
margin-bottom: 0;
}

.computeChoice .yourChoice h2 {
  margin: 20px;
}

.yourChoice {
border: 2px solid #555;
margin-right: 20px;
background-color: red;
margin-right: 20px;
margin-bottom: 30px;
text-align: center;
border-radius: 15px;
margin-left: 20px;
color: white;
}

.computerChoice{
border: 2px solid #555;
margin-right: 20px;
background-color: red;
margin-right: 20px;
margin-bottom: 30px;
text-align: center;
border-radius: 15px;
margin-left: 20px;
color: white;
}

button {
padding: 5%;
}

.choice {
display: flex;
justify-content: space-around;
padding: 20px;
}

.btn {
 border-radius: 40px;
}

.target p {
 text-align: center;
}

main {
 padding-top: 0;
}

.select p {
  text-align: center;
  text-decoration: underline;
}

.header aside {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}
