* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", monospace;
}

h1, h2 {
  text-align: center;
}

div.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

div.choice {
  width: 25%;
}

div#gameBoard {
  width: 50%;

  button {
    background: #f00;
    width: calc(100%/3);
    padding: 2em;
    outline: none;
    cursor: pointer;
  }
  #resetButton {
    width: 100%;
  }
}

div.choice {

  img {
    width: 100%;
    display: none;
  }
}
