$pixel: "Press Start 2P", monospace;

* {
  box-sizing: border-box;
}

body {
  font-family: $pixel;
}

h1, h2 {
  text-align: center;
}

div.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

div.choice {
  width: 15%;
  text-align: center;
}

div#gameBoard {
  width: 60%;
  height: 500px;

  button {
    width: calc(100%/3 - 5px);
    font-family: $pixel;
    padding: 2em;
    outline: none;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    border: double 1px #000;
  }
  #resetButton {
    width: 100%;
  }
}

div.choice {

  img {
    width: 100%;
    display: none;
  }
}
