/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/


*{
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  color: #999;
  background-color: #fafafa;
  text-align: center;
  font-weight: bolder;
}

main{
  overflow: auto;
  width: 900px;
  margin: auto;
}

div.column:first-child{
  float:left;
  width: 50%;
  padding-top: 50px;
}

div.column:last-child{
  float:right;
  width: 50%;
  padding: 10px;
}

div.column:first-child section:first-child{
  float: right;
}

.white-box{
  background-color: #fff;
  border: 1px #e6e6e6 solid;
  margin: 10px;
  padding: 10px;
}

form input{
  width: 80%;
  height: 35px;
  margin: 2px;
}

button{
  width: 80%;
  height: 35px;
  color: #fff;
  background-color: #3897f0;
  font-weight: 700;
  margin: 4px;
  border-radius: 3px;
  border: 0;
}

footer{
  overflow: auto;
  padding-bottom: 10px;
}

footer nav{
  float: left;
}

nav a{
  color: #003569;
  padding: 8px;
}

footer p{
  float: right;
  margin: 0;

}

@media screen and (max-width: 600px) {
  div.column:first-child{
    float: none;
    width: 100%;
  }
  div.column:last-child{
    float: none;
    width: 100%;
  }
  div.column:first-child{
    display: none;
  }
  footer p{
    float: none;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  div.column:first-child{
    display: none;
  }
  div.column:last-child{
    float: none;
    width: 100%;
  }
  main{
    width: auto;
  }
  footer p{
    float: none;
    margin: 0;
  }
}
