$borders: 2px solid rgba(0,0,0,0.3);
$font-color: #444;
$borders-layout: 0px solid black;
$magnifier: url("https://s1.qwant.com/thumbr/0x380/b/0/12d6c7f50053261d454560f935ac88d307b4dfe55c421bb9b17674e191c0f6/698627-icon-111-search-512.png?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Fhawcons%2F32%2F698627-icon-111-search-512.png&q=0&b=1&p=0&a=1");
