@import 'variable';
//Standard Styling
*{
  box-sizing: border-box;
  color: $font-color;
  font-family: proxima-nova,sans-serif;
}
body{
  margin: 0;
}
img{
  display:block;
  max-width: 100%;
  max-height: 100%;
}
nav a{
  text-decoration: none;
  text-transform: capitalize;
}
//Specific Styling
main{
  display: flex;
}
header,main{
  max-width: 900px;
  margin: auto;
}
header{
  img{
    padding: 20px 0;
  }
  nav{
    padding: 15px 0;
    border-bottom: $borders;
    border-top: $borders;
    display: flex;
    a{
      font-weight: 700;
      color: $font-color; //Had to be added here otherwise get overwritten by Chrome
      padding: 0 10px;
      &:last-of-type{
        flex-grow:1;
        text-align: right;
        color: #f00;
      }
    }
  }
}
main>section:first-of-type{
  padding-right: 20px;
  article {
    border-bottom: $borders;
    padding: 15px 0;
  }
  button{
    float: right;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 4px;
    background: #fff;
  }
}
.secondary-article{
  display: flex;
  img{
    max-height: 200px;
  }
  div{
    padding: 0 10px;
  }
}
.side-panel{
  &>h3:first-of-type{
    padding: 15px;
  }
  h3{
    margin: 0;
    padding: 5px;
  }
}

.search-form{
  display: flex;
  padding:15px 0;
  input{
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-right : white;
    &::placeholder{
      font-size:14px;
    }
  }
  button{
    border: 1px solid #ccc;
    border-left: white;
    padding:0 5px;
  }
  p{
    padding: 15px;
  }
}
.subscribe-container{
  text-align: center;
  background-color: #f00;
  padding: 15px;
  color: $subscribe-box-text-color;
  h3{
    color: inherit;
  }
  p{
    color:inherit;
    font-size: 14px;
  }
  form{
    display: flex;
    flex-wrap: wrap;
    &>*{
      color: $subscribe-box-text-color;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid $subscribe-box-text-color;
      padding: 10px;
      margin: 5px 0;
      font-size: 14px;
    }
    input{
      &::placeholder{
        color:inherit;
      }
      &:first-of-type{
        width: 100%;
      }
      &:last-of-type{
        flex-grow:1;
      }
    }
    button{
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.category-items{
  display: flex;
  flex-wrap: wrap;
  a{
    text-decoration: none;
    border: 1px solid grey;
    padding: 7px;
    font-size: 12px;
    margin: 1px;
  }
}
footer{
  text-align: center;
  background-color: #eaede6;
  img{
    margin: auto;
    padding: 15px;
  }
  p{
    padding: 10px;
    margin:0;
  }
}

@media screen and (max-width: 600px) {
  header{
    width: 100%;
    img{
      margin: auto;
    }
    nav{
      flex-direction: column;
      align-items: center;
      a{
        padding:5px;
      }
    }
  }
  main{
    flex-direction: column;
  }
  main>section:first-of-type{
    padding-right: 0;
    &>button{
      width: 100%;
      margin: 20px auto;
    }
  }
  .secondary-article{
    display: block;
    img{
      margin: 0 auto;
    }
  }
  .side-panel{
    h3{
      text-align: center;
    }
    .category-items{
      flex-direction: column;
      a{
        text-align: center;
      }
    }
  }
}
