* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

main {
  max-width: 400px;
  margin: 200px auto;
}

section {
  border: 3px solid black;
}


.the-box {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.h1 {
  width: 90%;
  height: 25%;
}

.outer-bar {
  height: 40px;
  border: 3px solid purple;
  width: 60%;

}

.inner-bar {
  height: 30px;
  background-color: green;
  width: 47%;
  transition: width 0.3s;
}

.target-box {
  border: 3px double #ff00ff;
  width: 25%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.buttons {
  justify-content: space-around;
  margin: 30px 0;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
