
body{
  height: 100vh;
  background-color: darkgrey;
}

.search-result{
  display: flex !important;
  justify-content: space-between !important;
  img{
    height: 25px;
  }
}

#search-bar{
  border-radius: 20px;
}

.movies-display{
  margin-top: 5%;
  position: absolute;
}

.movies-watched{
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-part{
  border: 2px solid grey;
}

.side-part{
  border: 2px solid black;
}

#search-bar{
  outline: none;
  background: none;
  background-color: grey;
  font-weight: 700;
  font-size: 25px;
  height: 55px;
}


.card{
  border-radius: 15px;
  .card-image {
    .image {
      padding-top: 5px;
      height: 250px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .card-content{
      padding: 0;
      font-family: sans-serif;
    }
  }
  width: 260px;

}
