$footer-backcol: #ccc;
$widthfull: 100%;

body{
  font-family: 'Open Sans', sans-serif;;
}

*{
  box-sizing: border-box;
}

h1{
  display: none;
}

.container{
  width:80%;
  height:auto;
  display: flex;
  flex-wrap:wrap;
  margin: auto;
}
nav{
  width: $widthfull;
  height: auto;

   ul{
     display: flex;

    li{
      list-style-type: none;
      margin-right: 15px;
      padding: 20px;


      a{
        text-decoration: none;
        color: black;
      }
   }
   }
}
header{
  height: auto;
  width: $widthfull;
  display: flex;
  flex-wrap:wrap;
  .headerImage{
    height: auto;
    width:auto;
  }
       li{

        &:last-child{
         margin-left: auto;
         a{
           color: red;

         }

         }
      }
}


main{
  width:$widthfull;
  height: auto;
  display: flex;


  .left{
    height:auto;
    max-width:65%;
    flex-wrap:wrap;



    section{
      height: auto;
      width: $widthfull;

      &:first-child{
        height: auto;
        background-color: white;
        display: flex;
        flex-wrap:wrap;
        .content-big{
          height: auto;
          width: $widthfull;
          .images-div{
            height: auto;
            background-color: white;
            width: $widthfull;
          }
        }
      }

      &:nth-child(2){
        height: auto;
        .content-small{
          width: $widthfull;
          height: auto;
          display: flex;
        }
      }
      &:last-child{
        height: 50px;
        width: $widthfull;
        display: flex;
        form{
          margin-left: auto;
        }
      }
    }
  }
  .right{
    display: flex;
    height:auto;
    width:35%;
    flex-direction:column;
    section{
      height: auto;
      width: 100%;
      &:first-child{
        input{
          width: 80%;
          padding: 10px;
        }

      }
        &:nth-child(2){
          margin-top: 30px;
          height: 250px;
          background-color: rgb(191, 64, 64);
          color: white;
          text-align: center;
          input{
            width: 80%;
            padding: 10px;
            &:last-child{
              width: 60%;
              background-color: blue;
            }
          }
        }
    }
   }
    nav{
      width: auto;
      height: 300px;
      flex-wrap:wrap;
      ul{
        flex-wrap:wrap;
        li{
          border: 1px solid black;
          height: 40px;
          padding: 10px;
          margin: 5px 2px;
        }
      }
    }
}

footer{
  height:auto;
  width: $widthfull;
  background-color: $footer-backcol;
  display: flex;
  flex-wrap:wrap;
  text-align: center;

  div{
    height:auto;
    width:$widthfull;
  }
  nav{

    ul{
    justify-content: center;
  }
  }
}
