/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/

* {
  box-sizing: border-box;
}

section {
  float: left;
  width: 50%;
  padding-top: 50px;
}

body {
  background-color: #fafafa;
}

body, input {
  font-family: 'Karla', sans-serif;
}

h1 {
  display: none;
}

main {
  width: 900px;
  margin: 0 auto;
}

button {
  background-color: #3897f0;
  color: #fff;
}

form {
  background-color: #fff;
  text-align: center;
  border: 1px solid #e6e6e6;
  color: #999;
  padding: 30px;
  font-weight: bold;
}

input {
  margin: 2.5px;
}

input, button {
  width: 300px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #003569;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

nav {
  display: inline-block;
  margin-left: 100px;
  margin-top: 60px;
  font-size: 14px;
  padding-bottom: 40px;
}

i {
  margin-right: 2px;
}

.container {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}

.login {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
}

.sign {
  margin-top: 20px;
}

.copyright {
  text-align: right;
  margin: 0;
  margin-left: 250px;
  display: inline;
  text-transform: uppercase;
}

#log {
  text-decoration: none;
  color: #3897f0;
}

@media screen and (max-width: 600px) {
  main section {
    width: 50%;
  }

  nav {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .one {
    display: none;
  }

  .copyright {
    text-align: center;
    margin: 0 150px;
    display: inline-block;
  }

  .buttons{
    margin-bottom: 40px;
  }
}
