.card-image {
  .image {
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}



h1{
  color: #C70039;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 300px;
}

nav{
  color: red;
  font-weight: bold;
  font-size: 25spx;
}

p{
  color: black;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

section{
  background: #000000 url(https://images.pexels.com/photos/1410138/pexels-photo-1410138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
  no-repeat left top;
  background-size: cover;
}
