@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$cheesy: white;

$primary: darken($cheesy, 30%);
$family-sans-serif: "Quicksand", sans-serif;
$navbar-background-color: $cheesy;
$navbar-item-hover-background-color: darken($cheesy, 10%);

$column-gap: 0.25rem;

$control-radius: 0;
$control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

.image{
  height: 300px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.image{
  img{
    width: auto;
    height: 300px;
    margin: 0 auto;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  // position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  // transform: rotate(-45deg) !important;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.marker:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}
