
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-buttons {
  border: 2px solid grey;
  width: 25%;
  height: 33%;
  background-size: cover;
}
.game-buttons-24{
  width: calc(25% /2);
}

.hidden {
  display: none;
}
