* {
  box-sizing: border-box;
}

body {
  width: 600px;
  margin: auto;
}

header {
  border: 1px solid black;
}
textarea {
  width: 100%;
  height: 300px;
}
.text {
  border: 1px solid black;

}

.input {
  border: 1px solid black;
}
