body {
  font-family: Arial,Helvetica,freesans,sans-serif;
}

p {
  font-size: 15px;
  color: black;
}

.subtitle {
  color: black;
}

.subtitle, .sub{
  font-weight: bold;
}

.column {
  padding: .4em;
}

.section {
  padding-top: 20px;
}

.navbar, .navbar-bottom {
  border-top: 1px solid rgba(18,18,18,0.2);
  background-color: #ffd230;
}


.navbar-item{
  font-size: 15px;
  color: #121212;
  padding: 6px;
}

.title {
  font-size: 2.375rem;
  font-weight: bold;
  color: black;
}

.navbar-start .navbar-item {
  border-left: 1px solid rgba(18,18,18,0.2);
}
