body {
  background-color: black;
}

img {
  display: block;
  margin: 0 auto;
}
.row {
  margin: 0 auto;
  max-width: 58%;
  display: flex;
}

.column {
  margin: 4px;
  flex: 1;
  text-align: center;
  border: 1px solid black;
}

button {
  width: 100%;
  padding: 63px 0;
  font-size: 24px;
}
