
*{
  box-sizing: border-box;
}

header {
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    .navbar{
      //parent tells child how to work!
      flex-wrap: wrap;
      .navbar-brand {

        flex-grow:1;
        width: 100%;

        }
      .navbar-menu{
        border-top: 1px solid black;
        margin: 1px;
        padding: 2px;
        a.navbar-item {
          border-right: 1px solid black;
          &:hover {
            border-bottom: 3px solid black;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
ho
a {
  color: black;
}
