
*{
  box-sizing: border-box;
}

header{
  .navbar{
    .navbar-brand {
      //the below code should make it wrap - why doesn't it wrap?
      flex-wrap: wrap;
      flex-grow:1;
      display: block;
      }
    .navbar-menu{
      border-top: 1px solid black;
      margin: 1px;
      padding: 1px;
      a.navbar-item {
        border-right: 1px solid black;
        &:hover {
          border-bottom: 3px solid black;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

a {
  color: black;
}
