.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
}

.card-image {
  .image {
    margin-left: 90px;
    height: 400px;
    margin-top: 20px;
    background-color: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.show-image {
  img {
    padding-left: 100px;
    height: 700px;
    width: 320px;
  }
}