.nav {
  background-color: black;
  height: 50px;
}

.card-image {
  .image {
    height: 400px;
    margin-top: 20px;
    background-color: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}