.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  .links {
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
  }

  .links:hover {
    color: red;
  }
}

.card-image {
  .image {
    margin-left: 90px;
    height: 400px;
    margin-top: 20px;
    background-color: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.show-image {
  img {
    padding-left: 100px;
    height: 700px;
    width: 320px;
  }
}