* {
  box-sizing: border-box;
  font-family: 'Fahkwang', sans-serif;
}

main {
  max-width: 35%;
  margin: 50px auto;
  display: block;
}

h2.arenaText {
  text-align: center;
  color: black;
}

.armoury {
  text-align: center;
  // border: 3px double black;
  .reset {
    padding: 10px 20px;
    font-size: 13pt;
    font-weight: 700;
    margin: 20px;
    background-color: lightblue;
    color: white;
    border: none;
    &:hover {
      background-color: cornflowerblue;
    }
  }
  button.weapon {
    border: none;
    padding: 9px;
    // &:hover {
    //   background-color: gold;
    // }

  }
}
